.back_btn, .forward_btn{
  height: 100%;
  width: 20%;
  display: block;
  position: absolute;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  z-index: 10;
}

.back_btn {
  background: rgb(0,0,0);
  background: linear-gradient(87deg, rgba(0,0,0,0.9635503859747023) 0%, rgba(0,0,0,0.6834383411567753) 42%, rgba(0,0,0,0) 95%);
  opacity: 0.3;
  transition: opacity 0.2s;

  &:hover .arrow:before {
    transform: rotate(57deg);    
  }
  &:hover .arrow:after {
    transform: rotate(-57deg);    
  }

  &:hover .arrow_animation:after, &:hover .arrow_animation:before {
    transform: rotate(0);
    // transform: rotate(-57deg);    
  }

  .arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 30px;
    width: 20px;
    height: 20px;

    &::before {
      content: ' ';
      position: absolute;
      top: calc(50% - 2px);
      transform: rotate(45deg);
      width: 30px;
      height: 2px;
      background-color: rgb(255, 255, 255);;
      transition:  transform 0.2s ease;
      transform-origin: center left;
    }
    &::after {
      content: ' ';
      position: absolute;

      transform: rotate(-45deg);
      width: 30px;
      height: 2px;
      background-color: rgb(255, 255, 255);;
      transition:  transform 0.2s ease;
      transform-origin: center left;
    }
  }

  .arrow_animation {
    animation: arrowBack 1s forwards;
    &:before{
      animation: arrowBackBefore 1s forwards;
    }
    &:after {
      animation: arrowBackAfter 1s forwards;
    }
  }
  

  &:hover {
    opacity: 0.4;
  }
}



@keyframes arrowBackAfter {
  0% {
    transform: rotate(-45deg);
  }
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes arrowBackBefore {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}


@keyframes arrowBack {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}