@import '/public/scss/variable.scss';

.slider {
  width: 100%;
  // height: 30px;
  aspect-ratio: 3/2;


  .img_wrapper {
    position: relative;
    height: calc(100% - 70px);
    width: 100%;
    overflow: hidden;


    img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 5;
    }


    .backAnimation {
      animation: backAppear 1s forwards;
    }

    .forwardAnimation {
      animation: forwardAppear 1s forwards
    }

    .images {
      img {
        transition: left 0.5s, right 0.5s;
        position: absolute;
        opacity: 0;
        z-index: 4;
      }
      
      .previous_click {
        animation: appearPreviousImg 1s;
      }
      
      .forward_click {
        animation: appearForwardImg 1s;
      }
    }
  }

  .nav_bar_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;

    .wrapper_point {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      width: 24px;
      height: 24px;

      .point {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #4a4a4a;
        transition: color 0.3s, transform 0.1s;
      }
  
      .active_point {
        transform: scale(1.7);
        background-color: $text_color;
      }
      .disabled_point {
        
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}


@keyframes appearPreviousImg {
  0%{ 
    left: -100%;
    opacity: 1;
  }
  25% {
    left: -100%;
    opacity: 1;

  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes appearForwardImg {
  0%{ 
    left: 100%;
    opacity: 1;
  }
  25% {
    left: 100%;
    opacity: 1;

  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes backAppear {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0);

  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes forwardAppear {
  0% {
    transform: translateX(0);
    z-index: 3;
  }
  50% {
    transform: translateX(0);
    

  }
  100% {
    transform: translateX(-100%);
  }
}