@import '/public/scss/variable.scss';

.burger {
  position: fixed;
  z-index: 999;
  padding: 10px;

  display: flex;
  flex-direction: column;
  top: 20px;
  right: 20px;

  width: 60px;
  height: 60px;

  @media (hover:hover) {
    
    &:hover .top_first{
      transform: translateY(-5px);
    }
    &:hover .top_second{
      transform: translateY(10px) rotate(235deg);
    }
  
    &:hover .bottom_first{
      transform: translateY(5px);
    }
    
    &:hover .bottom_second{
      transform: translateY(-10px)rotate(130deg);
    }
  }

  .top {
    position: absolute;
    top: 20px;
    width: 40px;
    height: 2px;
    background-color: $text_color;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  .bottom {
    position: absolute;
    top: 40px;
    width: 40px;
    height: 2px;
    background-color: $text_color;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  .middle{
    position: absolute;
    top: 30px;
    width: 40px;
    height: 2px;
    background-color: $text_color;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  .top_first {
    &.isOpen {
      animation: isOpenTop 0.90s cubic-bezier(.43,.77,.15,1.5) forwards;
    }
  }
  .top_second {
    transform: translateY(10px) rotate(225deg);
    &.isClose {
      animation: isCloseTop 0.9s cubic-bezier(.43,.77,.15,1.5) forwards;
    }
  }

  .middle_first {
    top: 30px;
    &.isOpen {
      animation: isOpenMiddle 0.90s cubic-bezier(.43,.77,.15,1.5) forwards;
    }
    }
  }
  .middle_second {
    opacity: 0;
    
    &.isClose {
      animation: isCloseMiddle 0.9s cubic-bezier(.43,.77,.15,1.5);

    }
    
  }

  
  .bottom_first {
    &.isOpen {
      animation: isOpenBottom 0.90s cubic-bezier(.43,.77,.15,1.5) forwards;
    }
  }
  .bottom_second {
    transform: translateY(-10px)rotate(135deg);
    &.isClose {
      animation: isCloseBottom 0.9s cubic-bezier(.43,.77,.15,1.5) forwards;
    }
  }



@keyframes isOpenTop{
  0% {

  }
  50% {
    transform: translateY(10px);  
  }

  100% {
    transform: translateY(10px) rotate(225deg);
  }
}

@keyframes isCloseTop {
  0% {
    transform: translateY(10px) rotate(225deg);
  }
  50% {
    transform: translateY(10px) rotate(0deg);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes isOpenMiddle{
  0% {

  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes isCloseMiddle {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes isOpenBottom{
  0% {
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-10px) rotate(135deg) ;
  }
}

@keyframes isCloseBottom {
  0% {
    transform: translateY(-10px)rotate(135deg);
  }
  50% {
    transform: translateY(-10px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  
  }
} 