@import '/public/scss/variable.scss';

.burger {
  position: absolute;
  z-index: 999;
  padding: 10px;

  display: flex;
  flex-direction: column;
  top: 20px;
  right: 20px;

  width: 60px;
  height: 60px;

  @media (hover:hover) {
    
    &:hover .top_first.isClose{
      transform: translateY(-5px);
    }
    &:hover .top_second{
      transform: translateY(10px)rotate(235deg);
    }
  
    &:hover .bottom_first.isClose{
      transform: translateY(5px);
    }
    
    &:hover .bottom_second{

      transform: translateY(-10px)rotate(130deg);
    }
  }

  .top_first, .middle_first, .bottom_first{
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: $text_color;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  .top_first {
    top: 20px;

    &.isOpen {
      animation: isOpenTop 0.90s cubic-bezier(.43,.77,.15,1.5) forwards;
    }
    &.isClose {
      animation: isCloseTop 0.9s cubic-bezier(.43,.77,.15,1.5);
    }
  }
  .top_second {
    transform: translateY(10px) rotate(225deg) ;
  }

  .middle_first {
    top: 30px;

    &.isOpen {
      animation: isOpenMiddle 0.90s cubic-bezier(.43,.77,.15,1.5) forwards;
    }
    &.isClose {
      animation: isCloseMiddle 0.9s cubic-bezier(.43,.77,.15,1.5);
    }
  }
  .middle_second {
    opacity: 0;
  }

  .bottom_first {
    top: 40px;


    &.isOpen {
      animation: isOpenBottom 0.90s cubic-bezier(.43,.77,.15,1.0) forwards;
    }
    &.isClose {
      animation: isCloseBottom 0.9s cubic-bezier(.43,.77,.15,1.0);
    }
  }
  .bottom_second {
    transform: translateY(-10px) rotate(135deg);
  }


}
@keyframes isOpenTop{
  0% {
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(10px)rotate(225deg) ;
  }
}

@keyframes isCloseTop {
  0% {
    transform: translateY(10px)rotate(225deg) ;
  }
  50% {
    transform: translateY(10px) ;
  }
  100% {
  }
}

@keyframes isOpenMiddle{
  0% {

  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes isCloseMiddle {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes isOpenBottom{
  0% {
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-10px) rotate(135deg) ;
  }
}

@keyframes isCloseBottom {
  0% {
    transform: translateY(-10px)rotate(45deg) ;
  }
  50% {
    transform: translateY(-10px) ;
  }
  100% {
  }
} 