@import '/public/scss/variable.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  font-family: monospace;
  background: $main_color;
  color: $text_color;
}