@import '/public/scss/variable.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  font-family: monospace;
  background: $main_color;
  color: $text_color;
}

html, body {
  font-size: 18px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(119, 119, 119) rgb(58, 58, 58);
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 0;
  width: 0px;
}
*::-webkit-scrollbar-track {
  background: rgb(58, 58, 58);
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(119, 119, 119);

  border: none;
}

*::-webkit-scrollbar-button {
  height: 0;
  width: 0
}